<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<meta name="generator" content="GitLab Pages">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Copy Token | TurboWafflz</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/2f2f6edd84.js"></script>
</head>
<body>
	<!--Page header-->
	{% include '/header.html' %}
	<div class="title">
		Copy Token
	</div>
	<!--Body Text-->
	<div class="bodyText">
		You have been successfully authenticated. Once you copy and paste this token into the calculator it is safe to close this tab.

		<br>
		Token: <input type="text" size="{{token|length}}" value="{{token}}" id="tokenBox" readonly>

		<div class="tooltip">
			<button onclick="copyFunction()" onmouseout="outFunc()">
				<span class="tooltiptext" id="tooltip">Copy to clipboard</span>
				<i class="fa fa-paste"></i>
			</button>
		</div>
		<br>
		<br>
		<div class="bigButton" id="goBack" onmouseover="document.getElementById('goBack').style.border='2px solid black'" onmouseout="document.getElementById('goBack').style.border='2px solid grey'" onclick="window.location.replace('https://turbowafflz.gitlab.io/indexportal.html')">
			<table>
				<tr>
					<td> <i class="fa fa-bars fa-2x"/></td>
					<td>Return to the portal</td>
				</tr>
			</table>
		</div>
	</div>
	<br><br><br>
	{% include '/copyright.html' %}
	<script>
	function copyFunction() {
		var copyText = document.getElementById("tokenBox");
		copyText.select();
		copyText.setSelectionRange(0, 99999);
		document.execCommand("copy");

		var tooltip = document.getElementById("tooltip");
		tooltip.innerHTML = "Copied: " + copyText.value;
	}

	function outFunc() {
		var tooltip = document.getElementById("tooltip");
		tooltip.innerHTML = "Copy to clipboard";
	}
	</script>
</body>
</html>

