<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<meta name="generator" content="GitLab Pages">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Delete ImaginaryInfinity Calculator Plugin | TurboWafflz</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="https://turbowafflz.gitlab.io/jquery.min.js"></script>
</head>
<body>
	<script>
	function getData(callback){
		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function(){
			if (xhr.readyState === 4){
				if(xhr.status === 200){
					callback((xhr.responseText).split(","));
				}
			}
		};
		//xhr.open("POST", "https://turbowafflz.azurewebsites.net/iicalc/getplugins", true);
		xhr.open("POST", "/iicalc/getplugins", true);
		xhr.send();
	}

	//e.preventDefault();
	getData(function(result){
		if(result[0] != ""){
			for(var i = 0; i < result.length; i++){
				document.getElementById("pluginSelect").innerHTML += "<option value='" + result[i] + "'>" + result[i] + "</option>";
			}
		}
	});
	</script>
	<!--Page header-->
	{% include '/header.html' %}
	<div class="title">
		Submit ImaginaryInfinity Calculator Plugin
	</div>
	<!--Body Text-->
	<div class="bodyText">
		<table>
			<tr>
				<td class="fieldName">Your Plugins:</td>
				<td>
					<form id="formSubmit" action="/iicalc/deleteplugin" method="POST">
						<select id="pluginSelect" name="name"></select>
					</form>
				</td>
			</tr>
		</table>
		<div class="fancyButtons">
			<input type="button" id="submitbutton" class="deleteBadge" value="Delete" />
		</div>
	</div>
	<br><br><br>
	{% include '/copyright.html' %}
	<script>
	$("#submitbutton").on("click", function(){
		if (confirm("Are you sure you would like to delete " + document.getElementById("pluginSelect").value + "?")){
			document.getElementById("formSubmit").submit();
		}
	});
		</script>
	</body>
	</html>

