<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta charset="utf-8">
		<meta name="generator" content="GitLab Pages">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>[PAGE NAME] | TurboWafflz</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheet.css">
		<script src="/jquery.min.js"></script>
		<script src="https://use.fontawesome.com/2f2f6edd84.js"></script>
	</head>
	<body>
		<!--Page header-->
		{% include '/header.html' %}
		<div class="title">
			[PAGE NAME]
		</div>
		<!--Body Text-->
		<div class="bodyText">
			[PAGE CONTENT]
		</div>
		<br><br><br>
		{% include '/copyright.html' %}
	</body>
</html>

