<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta charset="utf-8">
		<meta name="generator" content="GitLab Pages">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Success | TurboWafflz</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheet.css">
		<script src="/jquery.min.js"></script>
		<script src="https://use.fontawesome.com/2f2f6edd84.js"></script>
	</head>
	<body>
		<!--Page header-->
		{% include '/header.html' %}
		<div class="title">
			Success
		</div>
		<!--Body Text-->
		<div class="bodyText">
			The plugin has been deleted.
			<div class="bigButton" id="goBack" onmouseover="document.getElementById('goBack').style.border='2px solid black'" onmouseout="document.getElementById('goBack').style.border='2px solid grey'" onclick="window.location.replace('https://turbowafflz.gitlab.io/indexportal.html')">
				<table>
					<tr>
						<td> <i class="fa fa-bars fa-2x"/></td>
						<td>Return to the portal</td>
					</tr>
				</table>
			</div>
		</div>
		<br><br><br>
		{% include '/copyright.html' %}
	</body>
</html>

