<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
		<link rel="icon" href="/favicon.ico" type="image/x-icon">
		<meta charset="utf-8">
		<meta name="generator" content="GitLab Pages">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Package Browser | TurboWafflz</title>
		<link rel="stylesheet" href="/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheet.css">
		<!-- <script src="/jquery.min.js"></script> -->
		<script src="https://use.fontawesome.com/2f2f6edd84.js"></script>
	</head>
	<body>
		<!--Page header-->
		{% include '/header.html' %}
		<div class="title">
			Browse Packages
		</div>
		<!--Body Text-->
		<div class="bodyText">
			<form class="search" action="/iicalc/search" method="post">
				<div style="display: flex;">
					<input type="text" class="searchBox" name="searchTerm" placeholder="Search"><button type="submit" class="btn btn-success searchButton"><i class="fa fa-search"></i></button>
				</div>
			</form>
			<hr>
			{% block main %}
				{% for key,value in index.items() %}
				<div class="listing">
					<div class="listingTitle">
						<a href="/iicalc/viewplugin/{{key}}">{{key}}</a>
						<div class="projectStatus">
							{% if value["type"] == "plugins" %}
								<div class="pluginBadge">
									Plugin
								</div>
							{% elif value["type"] == "themes" %}
								<div class="themeBadge">
									Theme
								</div>
							{% endif %}
							<div class="version">
								{{value["version"]}}
							</div>
						</div>
					</div>
					{{value["summary"]}}
				</div>
				{% endfor %}
			{% endblock main %}
		</div>
		<br><br><br>
		<div class="footer">
			<div class="footerText">
				Content on this page has been created by users of Imaginary Infinity Calculator. I neither own nor take responsibility for this content unless explicitly specified.
			</div>
		</div>
	</body>
</html>

