<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<meta name="generator" content="GitLab Pages">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Package Screening | TurboWafflz</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="https://turbowafflz.gitlab.io/jquery.min.js"></script>
	<script src="https://use.fontawesome.com/2f2f6edd84.js"></script>

</head>
<body>

	<!-- <script src="/easteregg.js"></script> -->
	<div class="header">
		<div class="logo" ondblclick="easteregg(); return false;">
			<img src="/favicon.ico" style="display: inline-block;">
		</div>
		<div class="logoText">TurboWafflz</div>
		<div id="banner"><div class="version">2.1</div></div>
	</div>
	<div class="title">
		Browse Packages
	</div>
	<!--Body Text-->
	<div class="bodyText">

		<div class="modal" id="deleteModal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h2>Reason for deletion</h2>
				</div>
				<div class="modal-body">
					<form style="margin-top: 5px; margin-bottom: 10px;">
						<input id="deletePluginName" type="hidden" value="">
						<input type="radio" id="reason1" name="reason" value="Malicious" checked>
						<label for="reason1">Malicious</label><br>
						<input type="radio" id="reason2" name="reason" value="Violation of ad policy">
						<label for="reason2">Violation of ad policy</label><br>
						<input type="radio" id="reason3" name="reason" value="Telemetry without consent">
						<label for="reason3">Telemetry without consent</label><br>
						<input type="radio" id="reason4" name="reason" value="Threats">
						<label for="reason4">Threats</label><br>
						<input type="radio" id="reason5" name="reason" value="Sexual content">
						<label for="reason5">Sexual content</label><br>
						<input type="radio" id="reason6" name="reason" value="Illegal content">
						<label for="reason6">Illegal content</label><br>
						<input type="radio" id="reason7" name="reason" value="Revealing someone's personal of confidential information">
						<label for="reason7">Revealing someone's personal of confidential information</label><br>
						<input type="radio" id="reason8" name="reason" value="Promotion of terrorism">
						<label for="reason8">Promotion of terrorism</label><br>
						<input type="radio" id="reason9" name="reason" value="Purposely spreading false information">
						<label for="reason9">Purposely spreading false information</label><br>
						<input type="radio" id="reasonLast" name="reason" value=""><input id="reasonLastText" type="text" value="" placeholder="Other" /><input id="bannable" type="checkbox" />Ban?
					</form>
				</div>
				<div class="modal-footer">
					<input class="modalDeleteBadge" id="modalDeleteButton" type="button" value="Delete">
				</div>
			</div>
		</div>

		{% for plugin in unscreened %}
		<div class="listing" id="{{plugin["name"]}}Listing">
			<div class="listingTitle">
				<a href="/iicalc/viewplugin/{{plugin["name"]}}">{{plugin["name"]}}</a>
				<div class="projectStatus">

					<div class="{{plugin["badge"]}}">
						{{plugin["type"]}}
					</div>

					<div class="version">
						{{plugin["version"]}}
					</div>
				</div>
			</div>
			<div class="projectButtons">
				<form style="display: inline">
					<input type="button" class="approveBadge" value="Approve" id="{{plugin["name"]}}ApproveButton">
					<input type="hidden" value="{{plugin["name"]}}" id="{{plugin["name"]}}Approve">
				</form>
				<form style="display: inline">
					<input type="hidden" value="{{plugin["name"]}}">
					<input class="deleteBadge" id="{{plugin["name"]}}DeleteButton" type="button" value="Delete">
				</form>
			</div>
			{{plugin["summary"]}}
		</div>
		{% endfor %}

	</div>
	<script>

	// When the user clicks on <span> (x), close the modal
	document.getElementsByClassName("close")[0].onclick = function() {
		document.getElementById("deleteModal").style.display = "none";
	}

	// When the user clicks anywhere outside of the modal, close it
	window.onclick = function(event) {
		if (event.target == document.getElementById("deleteModal")) {
			document.getElementById("deleteModal").style.display = "none";
		}
	}



	function screenPlugin(callback, url, option){
		data = new FormData();
		data.append("name", document.getElementById(option).value);
		if(url == "/iicalc/deleteplugin"){
			data.append("reason", document.querySelector('input[name="reason"]:checked').value);
			if(document.getElementById("bannable").checked == true && document.getElementById("reasonLast").checked == true){
				data.append("ban", "true");
			}else if(document.getElementById("bannable").checked == false && document.getElementById("reasonLast").checked == true){
				data.append("ban", "false");
			}
		}

		var xhr = new XMLHttpRequest();
		xhr.onreadystatechange = function(){
			if (xhr.readyState === 4){
				if(xhr.status === 200){
					callback(xhr.responseText);
				}
			}
		};
		xhr.open("POST", url, false);
		xhr.send(data);
	}

	$(document).on('click', '#modalDeleteButton', function(){
		document.getElementById("reasonLast").value = document.getElementById("reasonLastText").value;
		document.getElementById("deleteModal").style.display = "none";
		document.getElementById(document.getElementById("deletePluginName").value + 'Listing').style.opacity = '0.4';
		screenPlugin(function(result){
			if(result == "true"){
				document.getElementById(document.getElementById("deletePluginName").value + 'Listing').style.display = 'none';
				console.log(document.getElementById("deletePluginName").value + " - Deleted");
			}
		}, "/iicalc/deleteplugin", "deletePluginName");
	});

	{% for plugin in unscreened %}
	$(document).on('click', '#{{plugin["name"]}}ApproveButton', function(){
		document.getElementById('{{plugin["name"]}}Listing').style.opacity = '0.4';
		screenPlugin(function(result){
			if(result == "true"){
				document.getElementById('{{plugin["name"]}}Listing').style.display = 'none';
				console.log("{{plugin["name"]}} - Approved");
			}
		}, "/iicalc/admin/approve", "{{plugin["name"]}}Approve");
	});
	$(document).on('click', '#{{plugin["name"]}}DeleteButton', function(){
		document.getElementById("deletePluginName").value = "{{plugin["name"]}}";
		document.getElementById("deleteModal").style.display = "block";
	});
	{% endfor %}
	</script>
</body>
</html>
