<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	<meta charset="utf-8">
	<meta name="generator" content="GitLab Pages">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{pluginName}} | TurboWafflz</title>
	<link rel="stylesheet" href="/bootstrap.min.css">
	<link rel="stylesheet" href="/stylesheet.css">
	<script src="https://turbowafflz.gitlab.io/jquery.min.js"></script>
	{% if showTerminal %}
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
	<style>
	.terminal{
	    background: #1e1e1e;
	    border: 3px solid #1e1e1e;
	    border-radius: 3px 3px 3px 3px;
	    min-width: 100px;
	    min-height: 100px;
	    color:white;
	    padding: 5px;
	    font-family: UbuntuMono;
	    margin: 5px;
	    max-width: 500px;
	  }
	  .themeNormal{
		color: {{theme['normal']['fore']}};
		{% if theme['normal']['back'] != '' %}
		background: {{theme['normal']['back']}};
		{% endif %}
	  }
	  .themeError{
		color: {{theme['error']['fore']}};
		{% if theme['error']['back'] != '' %}
		background: {{theme['error']['back']}};
		{% endif %}
	  }
	  .themeWarning{
		color: {{theme['warning']['fore']}};
		{% if theme['warning']['back'] != '' %}
		background: {{theme['warning']['back']}};
		{% endif %}
	  }
	  .themeImportant{
		color: {{theme['important']['fore']}};
		{% if theme['important']['back'] != '' %}
		background: {{theme['important']['back']}};
		{% endif %}
	  }
	  .themeStartupMessage{
		color: {{theme['startupmessage']['fore']}};
		{% if theme['startupmessage']['back'] != '' %}
		background: {{theme['startupmessage']['back']}};
		{% endif %}
	  }
	  .themePrompt{
		color: {{theme['prompt']['fore']}};
		{% if theme['prompt']['back'] != '' %}
		background: {{theme['prompt']['back']}};
		{% endif %}
	  }
	  .themeLink{
		color: {{theme['link']['fore']}};
		{% if theme['link']['back'] != '' %}
		background: {{theme['link']['back']}};
		{% endif %}
	  }
	  .themeLink>a:hover{
	    text-decoration: underline !important;
	  }
	  .themeAnswer{
		color: {{theme['answer']['fore']}};
		{% if theme['answer']['back'] != '' %}
		background: {{theme['answer']['back']}};
		{% endif %}
	  }
	  .themeInput{
		color: {{theme['input']['fore']}};
		{% if theme['input']['back'] != '' %}
		background: {{theme['input']['back']}};
		{% endif %}
	  }
	  .themeOutput{
		color: {{theme['output']['fore']}};
		{% if theme['output']['back'] != '' %}
		background: {{theme['output']['back']}};
		{% endif %}
	  }
	  .swapButton{
	   width: 30px;
	  height: 30px;
	  color:white;
	  float:right;
	 z-index: 1;
	font-size: 25px;
	cursor: pointer;
	transition: transform 0.75s 0.25s;
  transform: rotate(0);
	  }

.flip {
  transform: rotate(180deg);
}
	</style>
	{% endif %}
</head>
<body>
	<!--Page header-->
	{% include '/header.html' %}
	<div style="display: flex">
	<div class="title" style="padding-right: 8px; margin-right: 4px;">
		{{pluginName}}
	</div>
	<div id="upvote" class="tooltip circle{{" circle-active" if voted["up"]}}">
		<span class="tooltiptext">Upvote</span>
		<div class="horizontal-plus"></div>
		<div class="vertical-plus"></div>
	</div>
	&nbsp;
	<div id="downvote" class="tooltip circle{{" circle-active" if voted["down"]}}">
		<span class="tooltiptext">Downvote</span>
		<div class="horizontal-plus"></div>
	</div>
</div>
	<div class="onPageStatus">
		<div class="version">
			{{plugin["version"]}}
		</div>
	</div>
	<!--Body Text-->
	<div class="bodyText">
		<div class="modal" id="reportModal">
			<div class="modal-content">
				<div class="modal-header">
					<span class="close">&times;</span>
					<h2>Reason for report</h2>
				</div>
				<div class="modal-body">
					<form action="/iicalc/reportplugin" method="POST" autocomplete="off" style="margin-top: 5px; margin-bottom: 10px;">
						<input name="name" id="name" type="hidden" value="{{pluginName}}">
						<textarea name="reason" id="reason" value="" placeholder="Reason" style="font-family: inherit; margin-top: 20px; margin-bottom: 20px; width: 235px; height: 85px;" required></textarea>
				</div>
				<div class="modal-footer">
					<input class="modalReportBadge" id="modalReportButton" type="submit" value="Report">
				</div>
				</form>
			</div>
		</div>
		<div style="display: flex;justify-content: space-between; right: -7px; position: relative;">
			<div>
			{{plugin["description"]}}
		</div>
		<div>
			<div style="background: #313236; position: relative; padding: 5px; border-radius: 7px 0px 0px 7px;">
				<input type="button" id="reportbutton" class="reportBadge" value="Report">
				{% if delete %}
				<br>
				<input type="button" id="submitbutton" class="deleteBadge" value="Delete" style="margin-top: 6px;">
				{% endif %}
			</div>
		</div>
		</div>
		<hr>
		<div style="display: inline-flex; align-items: center;">
			You can install this plugin in ImaginaryInfinity Calculator by running &nbsp;<code>pm.install('{{pluginName}}')</code>&nbsp;
		</div>
		<br>
		Votes: {{votes}}
		<br>
		Updated: {{lastUpdate}}
		<br>
		{% if isMaintainer %}
		<form id="maintainerform" action="/iicalc/editmaintainers" method="POST">
			<br>
			Edit Maintainers:
			<div style="display: flex">
				<div class="autocomplete">
					{% for maintainer in maintainernames["names"] %}
					<span class="tag">
						{{maintainer}}
					</span>
					{% endfor %}
					<input id="githubnames" type="text" autocomplete="off" maxlength="38" />
				</div>
				<div style="background: #313236; position: relative; padding: 6px; border-radius: 7px 7px 7px 7px;margin-left: 5px;">
					<button id="download" type="button" class="deleteBadge">Save Changes</button>
				</div>
			</div>
			<input id="maintainers" type="hidden" name="maintainers" value="{{maintainernames["names"] | join(",")}}" autocomplete="off" />
			<input name="name" type="hidden" value="{{pluginName}}" />
		</form>
		{% else %}
		Authors:
		{% for maintainer in maintainers %}
		<img src="{{maintainer[1]}}" class="avatar">
		<a href="https://github.com/{{maintainer[0]}}" style="height: 12pt">{{maintainer[0]}}</a>
		{% endfor %}
		{% endif %}
	</div>
	{% if delete %}
	<form id="formSubmit" action="/iicalc/deleteplugin" method="POST">
		<select name="name" style="display: none;"><option value="{{pluginName}}">{{pluginName}}</option></select>
	</form>
	{% endif %}
	{% if showTerminal %}
	<br><br>
		<div style="padding-left: 5px;">Theme Preivew:</div>
		<div class="terminal">
		  <div class="swapButton"><i class="fas fa-sync-alt"></i></div>
		  <span style="background: white; color: black">ImaginaryInfinity Calculator v2.5.0</span>
		  <br>
		  <span class="themeNormal">Copyright 2020-2021 Finian Wright and Connor Sample</span>
		  <br>
		  <span class="themeLink"><a style="text-decoration: none; color: inherit" target="_blank" href="https://turbowafflz.gitlab.io/iicalc.html">https://turbowafflz.gitlab.io/iicalc.html</a></span>
		  <br>
		  <span class="themeNormal">Type 'chelp()' for a list of commands</span>
		  <br>
		  <span class="themeNormal">Read README</span>
		  <br>
<span class="themeStartupMessage">More popular than at least one other thing!</span>
<br>
<br>
<br>
<span class="themePrompt">&gt;</span> <span class="themeInput">3+3</span>
<br>
<br>
<span class="themeAnswer">6</span>
<br>
<span class="themePrompt">&gt;</span> <span class="themeInput">x</span>
<br>
<br>
<span class="themeError">Error: name 'x' is not defined</span>
<br>
<span class="themePrompt">&gt;</span> <span class="themeInput">theme['styles']['warning'] + 'warning'</span>
<br>
<br>
<span class="themeWarning">warning</span>
<br>
<span class="themePrompt">&gt;</span>
<br>
<span class="themeImportant">EOF, exiting...</span>
		</div>
	{% endif %}
	<!-- <div class="fancyButtons">
	<a id="download" href="{{plugin['download']}}" download="{{plugin['filename']}}" target="_blank">Download</a>
</div> -->
<br><br><br>
<div class="footer">
	Content on this page has been created by users of Imaginary Infinity Calculator. I neither own nor take responsibility for this content unless explicitly specified.
</div>
{% if showTerminal %}
<script>
$(document).ready(function(){
  $(".swapButton").click(function(){
    if ($(".terminal").css("backgroundColor") == "rgb(30, 30, 30)"){
    $(".terminal").animate({backgroundColor: "white"}, "slow");
    $(".swapButton").animate({color: "black"}, "slow");
    $(".swapButton").toggleClass("flip");
    } else {
      $(".terminal").animate({backgroundColor: "#1e1e1e"}, "slow");
      $(".swapButton").animate({color: "white"});
      $(".swapButton").toggleClass("flip");
    }
  });
});
</script>
{% endif %}
{% if delete %}
<script>
$("#submitbutton").on("click", function(){
	if (confirm("Are you sure you would like to delete " + document.getElementsByName("name")[0].value + "?")){
		document.getElementById("formSubmit").submit();
	}
});
</script>
{% endif %}
{% if isMaintainer %}
<script>
$("#download").on("click", function(){
	document.getElementById("maintainerform").submit();
});

document.getElementById("maintainerform").onkeypress = function(e) {
	if (e.keyCode == 13){
		e.preventDefault();
	}
}
var lastValue = "none";
function removeValue(remove){
	array = document.getElementById("maintainers").value.split(",");
	var index = array.indexOf(remove);
	if (index > -1) {
		array.splice(index, 1);
	}else if(array[0] == remove){
		array = [];
	}
	document.getElementById("maintainers").value = array.join(",");
}
$(".autocomplete input").on("keydown", function(e){
	if (e.keyCode == 8){
		lastValue = this.value;
	}
});
$(".autocomplete input").on("keyup", function(e){
	var x = document.getElementById("githubnames-autocomplete-list");
	if (x) x = x.getElementsByTagName("div");
	if (this.value == "" && document.getElementsByClassName("tag").length == 0){
		closeAllLists();
	}
	if(e.keyCode == 13){
		//if enter, prevent form from being submitted
		e.preventDefault();
		if (typeof currentFocus === "undefined"){
			currentFocus = -1;
		}
		if (currentFocus != -1){
			if(x) x[currentFocus].click();
		} else if (x != null && typeof x[0] !== 'undefined' && x.length == 1){
			//click first suggestion if only 1
			x[0].click();
		}
		var txt = this.value;
		if (/^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$/i.test(this.value)){
			this.value = "";
			if (!document.getElementById("maintainers").value.split(",").includes(txt)){
				if (txt) $(this).before("<span class='tag'>" + txt + "</span>"); closeAllLists();

				document.getElementById("maintainers").value = "";
				tags = document.getElementsByClassName("tag")
				for(var i = 0; i < tags.length; i++){
					document.getElementById("maintainers").value += tags[i].innerHTML + ",";
				}
				document.getElementById("maintainers").value = document.getElementById("maintainers").value.replace(/,+$/, "");
				this.focus();
			}
		}
	}else if(e.keyCode == 40){
		currentFocus++;
		addActive(x);
	}else if (e.keyCode == 38){
		currentFocus--;
		addActive(x);
	}else if (e.keyCode == 8){
		if (this.value == "" && lastValue == ""){
			var lastTag = document.getElementById("maintainers").value.split(",")[document.getElementById("maintainers").value.split(",").length - 1];
			if(lastTag != ""){
				removeValue(lastTag);

				$(".tag")[document.getElementsByClassName("tag").length - 1].remove();
				$(".autocomplete input").focus();
				$(".autocomplete input").val(lastTag);
			}
		}
	}

});

$(".autocomplete").on("click", ".tag", function(){
	removeValue($(this).text().trim());
	$(this).remove();
	$(".autocomplete input").focus();
});

function closeAllLists(elmnt) {
	/*close all autocomplete lists in the document,
	except the one passed as an argument:*/
	var x = document.getElementsByClassName("autocomplete-items");
	for (var i = 0; i < x.length; i++) {
		if (elmnt != x[i] && elmnt != document.getElementById("githubnames")) {
			x[i].parentNode.removeChild(x[i]);
		}
	}
}
function getCookie(name) {
	var cookieArr = document.cookie.split(";");
	for(var i = 0; i < cookieArr.length; i++) {
		var cookiePair = cookieArr[i].split("=");
		if(name == cookiePair[0].trim()) {
			return decodeURIComponent(cookiePair[1]);
		}
	}
	return null;
}
function addActive(x){
	if (!x) return false;
	removeActive(x);
	if (currentFocus >= x.length) currentFocus = 0;
	if (currentFocus < 0) currentFocus = (x.length - 1);
	x[currentFocus].classList.add("autocomplete-active");
}
function removeActive(x){
	for(var i = 0; i < x.length; i++){
		x[i].classList.remove("autocomplete-active");
	}
}
let last = +new Date();
var token = getCookie("authToken");
$("#githubnames").on("input", function() {
	const now = +new Date();
	if (now - last > 300) {
		last = now;
		options = {
			url: "https://api.github.com/search/users",
			type: "GET",
			data: { "q": document.getElementById("githubnames").value + " in:login", "type": "Users" },
			contentType: 'application/json; charset=utf-8'
		};
		if(token != null){
			options.beforeSend = function (xhr) {xhr.setRequestHeader ("Authorization", "Bearer " + token);};
		}
		var request = $.ajax(options);
		request.done(function(data){
			var val = document.getElementById("githubnames").value;
			var items = (data["items"].length < 5) ? data["items"].length : 5;
			/*close any already open lists of autocompleted values*/
			closeAllLists();
			if (!val) { return false;}
			currentFocus = -1;
			/*create a DIV element that will contain the items (values):*/
			a = document.createElement("DIV");
			a.setAttribute("id", "githubnames-autocomplete-list");
			a.setAttribute("class", "autocomplete-items");
			/*append the DIV element as a child of the autocomplete container:*/
			document.getElementById("githubnames").parentNode.appendChild(a);
			/*for each item in the array...*/
			for (i = 0; i < items; i++) {
				b = document.createElement("DIV");
				/*make the matching letters bold:*/
				b.innerHTML = "<img src='" + data["items"][i]["avatar_url"] + "' width='16px' height='16px'></img> <strong>" + data["items"][i]["login"].substr(0, val.length) + "</strong>";
				b.innerHTML += data["items"][i]["login"].substr(val.length);
				/*insert a input field that will hold the current array item's value:*/
				b.innerHTML += "<input type='hidden' value='" + data["items"][i]["login"] + "'>";
				/*execute a function when someone clicks on the item value (DIV element):*/
				b.addEventListener("click", function(e) {
					/*insert the value for the autocomplete text field:*/
					document.getElementById("githubnames").value = this.getElementsByTagName("input")[0].value;
					/*close the list of autocompleted values,
					(or any other open lists of autocompleted values:*/
					closeAllLists();
					var txt = document.getElementById("githubnames").value;
					if (/^[a-z\d](?:[a-z\d]|-(?=[a-z\d])){0,38}$/i.test(document.getElementById("githubnames").value)){
						if (txt) $("#githubnames").before("<span class='tag'>" + txt + "</span>"); closeAllLists();
						document.getElementById("githubnames").value = "";
						document.getElementById("maintainers").value = "";
						tags = document.getElementsByClassName("tag")
						for(var i = 0; i < tags.length; i++){
							document.getElementById("maintainers").value += tags[i].innerHTML + ",";
						}
						document.getElementById("maintainers").value = document.getElementById("maintainers").value.replace(/,+$/, "");
						document.getElementById("githubnames").focus();
					}
				});
				a.appendChild(b);
			}
		});
	}
});
document.addEventListener("click", function(e){
	closeAllLists(e.target);
});
</script>
{% endif %}
<script>
// When the user clicks on <span> (x), close the modal
document.getElementsByClassName("close")[0].onclick = function() {
	document.getElementById("reportModal").style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
	if (event.target == document.getElementById("reportModal")) {
		document.getElementById("reportModal").style.display = "none";
	}
}
$("#reportbutton").on("click", function(){
	document.getElementById("reportModal").style.display = "block";
});
	$("#upvote").on("click", function(){
		if (! $(this).hasClass("circle-active") && ! $(this).hasClass("disabled")){
			$("#downvote").addClass("disabled");
			$(this).addClass("disabled");
			$("#downvote").removeClass("circle-active");
			$(this).addClass("circle-active");
			$.ajax({
				url: "/iicalc/rate/{{pluginName}}",
				type: "POST",
				data: {"vote": 1},
				error: function(xhr, ajaxOptions, thrownError){
					$("#downvote").removeClass("disabled");
					$(this).removeClass("disabled");
					if (xhr.status == 401){
						window.location.href = "https://turbowafflz.azurewebsites.net/iicalc/auth";
					}
				},
				success: function(data){
					$("#downvote").removeClass("disabled");
					$(this).removeClass("disabled");
				}
			});
		}
	});
	$("#downvote").on("click", function(){
		if(! $(this).hasClass("circle-active") && ! $(this).hasClass("disabled")){
			$("#upvote").addClass("disabled");
			$(this).addClass("disabled");
			$("#upvote").removeClass("circle-active");
			$(this).addClass("circle-active");
			var request = $.ajax({
				url: "/iicalc/rate/{{pluginName}}",
				type: "POST",
				data: {"vote": -1},
				error: function(xhr, ajaxOptions, thrownError){
					$("#upvote").removeClass("disabled");
					$(this).removeClass("disabled");
					if (xhr.status == 401){
						window.location.href = "https://turbowafflz.azurewebsites.net/iicalc/auth";
					}
				},
				success: function(data){
					$("#upvote").removeClass("disabled");
					$(this).removeClass("disabled");
				}
			});
		}
	});
</script>
</body>
</html>

