body{
	font-family: Ubuntu;
}
.navbar-brand{
	height: 40pt;
	margin: 5pt;
}
.calculatorStripe{
	background-color: #2998E6;
	display: flex;
}
#screenshotCarousel{
	width: 40%;
}
.stripeText{
	color: white;
	flex-grow: 1;
	width: 60%;
}
.stripeText>h1{
	color: white;
}
.home-hero {
	position: relative;
	z-index: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 65vh;
	max-height: 530px;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #000;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	background-image: url("/carbon.png");
}

.home-hero>div {
	font-size: 2.708vmax;
	padding: 3.125vmax;
	/* padding-left: 50%; */
	text-align: center;
	position: absolute;
}

.footer-social-icon i {
	cursor: pointer;
	color: #d1d5da;
}

.footer-social-icon:hover i, .footer-social-icon:focus i {
	color: #6a737d;
}