<footer class="text-center sticky-footer bg-white" style="padding: 1rem;">
	<div class="container my-2" style="display: flex; justify-content: center;">
		<div class="copyright text-center my-auto">
			Copyright &copy; 2021 Finian Wright & Connor Sample
		</div>
		<span class="footer-social-icon"><a class="m-1 p-2" href="https://gitlab.com/imaginaryinfinity/" target="_blank" role="button"><i class="fab fa-gitlab"></i></a></span>
	</div>
</footer>